{% extends 'movies/base.html' %}

						{% block menu %}
							<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="main">Главная</a></li>
										<li>
											<span class="opener">Категории</span>
											<ul>
												{% for cat in movies_detail.category__set.all %}
												<li><a href="#">{{cat.Name}}</a></li>
												{% endfor %}
											</ul>
										</li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
										<li><a href="#">Amet Lacinia</a></li>
									</ul>
								</nav>
{% endblock %}